PortageLive/www/soap/PortageLiveAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://__REPLACE_THIS_WITH_YOUR_IP__/PortageLiveAPI.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="PortageLiveService" targetNamespace="http://__REPLACE_THIS_WITH_YOUR_IP__/PortageLiveAPI.wsdl">
  <!-- Understanding WSDL: http://msdn.microsoft.com/en-us/library/ms996486.aspx -->
  <!-- http://www.w3.org/TR/wsdl20 -->
  <documentation>
  file: PortageLiveAPI.wsdl
  brief: Definition of the API to the Portage SMT software suite.
  author: Patrick Paul, Eric Joanis and Samuel Larkin

  Traitement multilingue de textes / Multilingual Text Processing
  Technologies de l'information et des communications /
    Information and Communications Technologies
  Conseil national de recherches Canada / National Research Council Canada
  Copyright 2009 - 2014, Sa Majesté la Reine du Chef du Canada /
  Copyright 2009 - 2014, Her Majesty in Right of Canada
  </documentation>
  <!-- ============================================================
                         M E S S A G E S
============================================================ -->
  <message name="primeModelsRequest">
    <part name="context" type="xsd:string"/>
    <part name="PrimeMode" type="xsd:string"/>
  </message>
  <message name="getAllContextsRequest">
    <part name="verbose" type="xsd:boolean"/>
  </message>
  <message name="getTranslationRequest">
    <part name="srcString" type="xsd:string"/>
    <part name="newline" type="xsd:string"/>
    <part name="xtags" type="xsd:boolean"/>
  </message>
  <message name="getTranslationResponse">
    <part name="Result" type="xsd:string"/>
  </message>
  <message name="translationToken">
    <part name="token" type="xsd:string"/>
  </message>
  <message name="getTranslation2Request">
    <part name="srcString" type="xsd:string"/>
    <part name="context" type="xsd:string"/>
    <part name="newline" type="xsd:string"/>
    <part name="xtags" type="xsd:boolean"/>
  </message>
  <message name="translateXMLCERequest">
    <part name="XMLContentsBase64" type="xsd:string"/>
    <part name="XMLFilename" type="xsd:string"/>
    <part name="context" type="xsd:string"/>
    <part name="CETreshold" type="xsd:decimal"/>
    <part name="xtags" type="xsd:boolean"/>
  </message>
  <!-- ============================================================
                      P O R T   T Y P E S
============================================================ -->
  <portType name="PortageLive_Interface">
    <operation name="primeModels">
      <documentation>
    For a given context, load its models in memory according to PrimeMode.
    This is accomplished by calling prime.sh with PrimeMode in the context.
    The default prime.sh uses PrimeMode to partially (partial) or fully (full) load
    the models in memory.  User can define custom behaviors based on PrimeContext.
    Throws a SoapFault exception with fault code "PortageContext" if the
    context is not valid.
    Throws a SoapFault exception with fault code "PortagePrimeError" if the
    prime.sh script failed.
    Throws a SoapFault exception with fault code "PortageNoPrimeScript" if the
    context exists but doesn't have a prime.sh script.
    Throws a SoapFault exception in case of a protocol or connection error.
    </documentation>
      <input message="tns:primeModelsRequest"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
    <operation name="getAllContexts">
      <documentation>
    Get the list of contexts installed on the PortageLive server.
    If verbose is true, each context includes a short description.
    If verbose is false, only the name of each context is provided.
    In all cases, the results are provided in a semi-colon separated list.
    Throws a SoapFault exception in case of a protocol or connection error.
    </documentation>
      <input message="tns:getAllContextsRequest"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
    <operation name="getTranslation">
      <documentation>
    Same as getTranslation2(), but using the default context.  See
    getTranslation2() for documentation.
    </documentation>
      <input message="tns:getTranslationRequest"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
    <operation name="getTranslation2">
      <documentation>
    Translate text using the specified context.

    Arguments:
     - srcString is the sentence to translate.
     - context is the name of the system to use to translate the document, and
       must match one of the context names returned by getAllContexts().
     - newline indicates the interpretation that should be given to newline
       characters in srcString, and must be one of:
        - "w": newline characters are just whitespace and should be replaced by
          spaces; an empty line marks a paragraph boundary; sentence splitting
          is performed within each paragraph; the result will have one
          translated sentence per line with an empty line after each paragraph.
        - "p": newline characters mark paragraph boundaries; sentence splitting
          is performed within each paragraph for translation but the paragraphs
          are reconstructed in the output; the result will have one translated
          paragraph per line, matching srcString line by line.
        - "s": newline characters mark sentence boundaries; no sentence splitting
          will be performed; the result will have one translated sentence per
          line, matching srcString line by line.
     - xtags: if true, XMLish tags (typically representing markup in the
       original document, as some translation memory software does) will be
       transferred into the translation using our tag transfer module.

    Throws SoapFault in case of problems.
    Possible faultcode values:
     - PortageContext: the problem is with the context;
     - PortageBadArgs: newline is not one of {s, p, w};
     - PortageServer: the problem is with Portage server;
     - otherwise some other problem occurred, normally described by the
       faultcode and explained by the faulstring.
    </documentation>
      <input message="tns:getTranslation2Request"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
    <operation name="getTranslationCE">
      <documentation>
    Translate text using the specified context, and calculate confidence scores
    on the translation.  The result is the translation, one sentence per line,
    with the confidence score preceeding each translation, separated by a tab
    character.  Note that blank lines in the input will also get a confidence
    score in the output; this score is meaningless and should be ignored.

    See getTranslation2() for argument and SoapFault documentation, with the
    following exceptions:
     - the newline="p" mode does not currently work correctly with confidence
       estimation: the confidence scores will not be attached to the right
       sentence.  Use "s" or "w" only.
     - a SoapFault with faultcode="PortageContext" will also be thrown if the
       context does not support confidence estimation.
    </documentation>
      <input message="tns:getTranslation2Request"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
    <operation name="translateTMXCE">
      <documentation>
    Submit a request to translate a TMX file using the specified
    context.  TMXContentsBase64 is its contents in base64 encoding and
    TMXFilename is its name.  IF CETreshold is greater than 0, confidence
    estimation is used to filter out translations with confidence score below
    the threshold (valid values are between 0 and 1).  If xtags is true, tags
    in the source sentences are transfered to the target sentence.
    Returns a token used to monitor the job.  The token can be used in one of
    two ways: it is a URL you can use to interactively monitor the job in a
    browser.  Or you can pass it as argument to translateTMXCE_Status().
    Throws SoapFault in case of problems.  If the faultcode is
    "PortageContext", the problem is with the context (including the case where
    the context does not support confidence estimation and CETreshold&gt;0), if it
    is "PortageServer", the problem is with Portage server, otherwise some
    other problem occurred, normally described by the faultcode and explained
    by the faulstring.
    </documentation>
      <input message="tns:translateXMLCERequest"/>
      <output message="tns:translationToken"/>
    </operation>
    <operation name="translateTMXCE_Status">
      <documentation>
    Get the status of a job submitted using translateTMXCE().
    Returns a string containing a one digit code followed by a human readable
    description of the status.
    Valid codes are: 0: job completed successfully, 1: job in progress, 2: job
    finished but failed, 3: something is wrong with the token.
    If the code is 0, the result string will be "0 Done: result_url", where
    result_url is the URL where you can fetch the translated TMX via HTTP.
    If the code is 2, the result string will be "2 Failed: trace_url", where
    trace_url will let you see the error log for your job.
    If you are going to poll a job status repeatedly, it is recommended you
    insert a 5 second delay between successive requests.
    Throws a SoapFault exception in case of a protocol or connection error.
    </documentation>
      <input message="tns:translationToken"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
    <operation name="translateSDLXLIFFCE">
      <documentation>
    Submit a request to translate a SDLXLIFF file using the specified
    context.  SDLXLIFFContentsBase64 is its contents in base64 encoding and
    SDLXLIFFFilename is its name.  IF CETreshold is greater than 0, confidence
    estimation is used to filter out translations with confidence score below
    the threshold (valid values are between 0 and 1).  If xtags is true, tags
    in the source sentences are transfered to the target sentence.
    Returns a token used to monitor the job.  The token can be used in one of
    two ways: it is a URL you can use to interactively monitor the job in a
    browser.  Or you can pass it as argument to translateSDLXLIFFCE_Status().
    Throws SoapFault in case of problems.  If the faultcode is
    "PortageContext", the problem is with the context (including the case where
    the context does not support confidence estimation and CETreshold&gt;0), if it
    is "PortageServer", the problem is with Portage server, otherwise some
    other problem occurred, normally described by the faultcode and explained
    by the faulstring.
    </documentation>
      <input message="tns:translateXMLCERequest"/>
      <output message="tns:translationToken"/>
    </operation>
    <operation name="translateSDLXLIFFCE_Status">
      <documentation>
    Get the status of a job submitted using translateSDLXLIFFCE().
    Returns a string containing a one digit code followed by a human readable
    description of the status.
    Valid codes are: 0: job completed successfully, 1: job in progress, 2: job
    finished but failed, 3: something is wrong with the token.
    If the code is 0, the result string will be "0 Done: result_url", where
    result_url is the URL where you can fetch the translated SDLXLIFF via HTTP.
    If the code is 2, the result string will be "2 Failed: trace_url", where
    trace_url will let you see the error log for your job.
    If you are going to poll a job status repeatedly, it is recommended you
    insert a 5 second delay between successive requests.
    Throws a SoapFault exception in case of a protocol or connection error.
    </documentation>
      <input message="tns:translationToken"/>
      <output message="tns:getTranslationResponse"/>
    </operation>
  </portType>
  <!-- ============================================================
                         B I N D I N G S
============================================================ -->
  <binding name="PortageLive_SoapHttpBinding" type="tns:PortageLive_Interface">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="primeModels">
      <soap:operation soapAction="primeModels"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="getAllContexts">
      <soap:operation soapAction="getAllContexts"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="getTranslation">
      <soap:operation soapAction="getTranslation"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="getTranslation2">
      <soap:operation soapAction="getTranslation2"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="getTranslationCE">
      <soap:operation soapAction="getTranslationCE"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="translateTMXCE">
      <soap:operation soapAction="translateTMXCE"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="translateTMXCE_Status">
      <soap:operation soapAction="translateTMXCE_Status"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="translateSDLXLIFFCE">
      <soap:operation soapAction="translateSDLXLIFFCE"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
    <operation name="translateSDLXLIFFCE_Status">
      <soap:operation soapAction="translateSDLXLIFFCE_Status"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:cnrc-nrc:portageliveservice" use="encoded"/>
      </output>
    </operation>
  </binding>
  <!-- ============================================================
                         S E R V I C E
============================================================ -->
  <service name="PortageLive_Service">
    <documentation>Definition of the PortageLive Service</documentation>
    <port name="PortageLive_Library" binding="tns:PortageLive_SoapHttpBinding">
      <soap:address location="http://__REPLACE_THIS_WITH_YOUR_IP__/PortageLiveAPI.php"/>
    </port>
  </service>
</definitions>
